 <section class="content-header">
    <h1>
      Dashboard
      <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Dashboard</li>
    </ol>
  </section>

  
  <section class="content">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Edit Question Form</h3>
  
      </div>
      <div class="box-body">
  
        <form novalidate (ngSubmit)="onSubmit()" [formGroup]="editquestionFrm" class="row justify-content-md-center">
          <div class="col-md-8">
<!--open category,type,level,tag -->
           
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-3 control-label">Question Category </label>
              <div class="col-sm-9">
                <select formControlName="questionCategory" name="questionCategory" class="form-control select2" id="questionCategory">
                  <option *ngFor="let questionCategory of listCategory"
                           [ngValue]="questionCategory.id">
                          
                           {{questionCategory.categoryName}}
                  </option>
                </select>
              </div>
          </div>
          <br>
          <!-- <select id="roleData"  ng-model="task.rolemodel.role"  class="form-control">
            <option value="">-- Select Role --</option>
            <option data-ng-repeat="roleData in roleDatas"  ng-selected="{{task.rolemodel.role == roleData.id}}" value="{{roleData.id}}">{{roleData.role}}</option> 
        </select> -->
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-3 control-label">Question Type </label>
              <div class="col-sm-9">
                <select formControlName="questionType" class="form-control select2">
                  <option *ngFor="let questionType of listType" [ngValue]="questionType">{{questionType.typeName}}</option>
                </select>
              </div>
          </div>
          <br>

          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-3 control-label">Question Level </label>
              <div class="col-sm-9">
                <select formControlName="questionLevel" class="form-control select2">
                  <option *ngFor="let questionLevel of listLvl" [ngValue]="questionLevel">{{questionLevel.levelName}}</option>
                </select>
              </div>
          </div>
          <br>
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-3 control-label">Question Tag </label>
              <div class="col-sm-9">
                <select formControlName="questionTag" class="form-control select2">
                  <option *ngFor="let questionTag of listTag" [ngValue]="questionTag">{{questionTag.tagName}}</option>
                </select>
              </div>
          </div>
          <br>
 <!--close category,type,level,tag -->   
  <!-- content -->
              <div class="form-group row">
                <label for="inputPassword3" class="col-sm-3 control-label"> Content</label>
                  <div class="col-sm-9">
                    <textarea  formControlName="content" class="form-control" id="inputPassword3" placeholder=" Content..."
                    [ngClass]="{
                      'is-valid': editquestionFrm.get('content').valid,
                      'is-invalid': editquestionFrm.get('content').invalid
                        && editquestionFrm.get('content').touched
                    }"></textarea>
                  </div>
              </div>
              <div *ngIf="editquestionFrm.get('content').invalid
                      && editquestionFrm.get('content').touched"
                     class="alert alert-danger" role="alert" style="width: 74%;margin-left: 26%;">
                <ng-container *ngIf="editquestionFrm.get('content').hasError('required')">
                   Content is required
                </ng-container>
                <ng-container
                    *ngIf="editquestionFrm.get('content').hasError('minlength')">
                    Min length
                    {{ editquestionFrm.get('content').getError('minlength').requiredLength }}
                </ng-container>
              </div>
              <br>
  <!--answercorec-->
               <div class="form-group row">
                <label for="inputPassword3" class="col-sm-3 control-label" style="margin-top: 20px;">Answer correct</label>
                <div class="col-sm-9">
                <div formArrayName="answer_corrects">
                      <div *ngFor="let answer of answerCorrectFormGroup.controls; let i = index;">
                        <div [formGroupName]="i" class="row">
                          <div class="row"> 
                              <label style="margin-left: 5%;margin-top: 20px;">Content answer correct</label>
                              <div class="col-sm-11">
                                  <input class="form-control" formControlName="answer_correct" type="text" style="width: 98%;margin-left: 3%;margin-top: 1%;height: 35px;"
                                  [ngClass]="{
                                    'is-valid': getAnswerCorrectFormGroup(i).valid,
                                    'is-invalid': getAnswerCorrectFormGroup(i).invalid
                                      && getAnswerCorrectFormGroup(i).touched
                                  }">
                              </div>
                              <div class="col-sm-1">
                                  <button class="btn btn-danger pull-right" type="button" (click)="removeAnswerCorrect(i)" style="margin-right: 12px; margin-top: 6px;"> X </button>
                              </div>
                          </div>
                            <div *ngIf="getAnswerCorrectFormGroup(i).invalid
                                  && getAnswerCorrectFormGroup(i).touched"
                                  class="alert alert-danger" role="alert" style="width: 96%;margin-left: 16px;margin-top: 15px;">
                                  <ng-container *ngIf="getAnswerCorrectFormGroup(i).controls['answer_correct'].touched 
                                  && getAnswerCorrectFormGroup(i).controls['answer_correct'].hasError('required')">
                                      Content answer correct is required
                                   </ng-container>
                            </div>
                           
                     </div>
                      </div>
                    </div>
                  </div>
                      <button class="btn btn-primary pull-right" type="button" (click)="addAnswerCorrect()" style="margin-right: 12px; margin-top: 10px;"> Add </button>
              </div>
<!-- Answer wrong -->
              <div class="form-group row"> 
                 <label for="inputPassword3" class="col-sm-3 control-label" style="margin-top: 20px;">Answer wrong</label>
                  <div class="col-sm-9">
                  <div formArrayName="answer_wrongs">
                        <div *ngFor="let answer of answerWrongFormGroup.controls; let i = index;">
                          <div [formGroupName]="i" class="row">
                            <div class="row"> 
                                <label style="margin-left: 5%;margin-top: 20px;">Content answer wrong</label>
                                <div class="col-sm-11">
                                    <input class="form-control" formControlName="answer_wrong" type="text" style="width: 98%;margin-left: 3%;margin-top: 1%;height: 35px;"
                                    [ngClass]="{
                                      'is-valid': getAnswerWrongFormGroup(i).valid,
                                      'is-invalid': getAnswerWrongFormGroup(i).invalid
                                        && getAnswerWrongFormGroup(i).touched
                                    }">
                                </div>
                                <div class="col-sm-1">
                                    <button class="btn btn-danger pull-right" type="button" (click)="removeAnswerWrong(i)" style="margin-right: 12px; margin-top: 6px;"> X </button>
                                </div>
                            </div>
                              <div *ngIf="getAnswerWrongFormGroup(i).invalid
                                    && getAnswerWrongFormGroup(i).touched"
                                    class="alert alert-danger" role="alert" style="width: 96%;margin-left: 16px;margin-top: 15px;">
                                    <ng-container *ngIf="getAnswerWrongFormGroup(i).controls['answer_wrong'].touched 
                                    && getAnswerWrongFormGroup(i).controls['answer_wrong'].hasError('required')">
                                        Content answer wrong is required
                                     </ng-container>
                              </div>
                              
                          </div>
                         </div>
                      </div>
                    </div>
                        <button class="btn btn-primary pull-right" type="button" (click)="addAnswerWrong()" style="margin-right: 12px; margin-top: 10px;"> Add </button>
                </div>
 <!-- Suggestion -->
              <div class="form-group row">
                <label for="inputPassword3" class="col-sm-3 control-label">Sugguestion</label>
                  <div class="col-sm-9">
                    <textarea type="text" class="form-control" formControlName="sugguestion" id="inputPassword3" placeholder=" Sugguestion..."
                    id="suggestion"
                    [ngClass]="{
                      'is-valid': editquestionFrm.get('sugguestion').valid,
                      'is-invalid': editquestionFrm.get('sugguestion').invalid
                        && editquestionFrm.get('sugguestion').touched
                    }"></textarea>
                  </div>
              </div>

              <div *ngIf="editquestionFrm.get('sugguestion').invalid
                      && editquestionFrm.get('sugguestion').touched"
                     class="alert alert-danger" role="alert" style="width: 74%;margin-left: 26%;">
                <ng-container *ngIf="editquestionFrm.get('sugguestion').hasError('required')">
                  Sugguestion is required
                </ng-container>
                <ng-container
                    *ngIf="editquestionFrm.get('sugguestion').hasError('minlength')">
                    Min length
                    {{ editquestionFrm.get('sugguestion').getError('minlength').requiredLength }}
                </ng-container>
              </div>

              <br>
<!-- Status -->
              <div class="form-group row">
                  <label for="inputPassword3" class="col-sm-3 control-label">Status</label>
                  <div class="col-sm-9">
                  <mat-checkbox color='primary' formControlName="status"> Show/Hide</mat-checkbox>
                </div>
              </div>

              <div class="form-group">
                  <div class="col-9 offset-3">
                    <button class="btn btn-success pull-right"  type="submit">Submit</button>
                    <button class="btn btn-primary">Cancel</button>
                  </div>
              </div>
            </div>
        </form>
      </div>
      
    </div>
  </section> 

