<section class="content-header">

<!-- open tag -->

    <div class="col-sm-6">
        <a href="#a" class="btn btn-success" data-toggle="modal">
          <i class="glyphicon glyphicon-plus-sign"></i> 
          <span>Add Tag</span>
        </a>
      </div>

    <div id="a" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content"> 

            <form (ngSubmit)="onSubmit()" [formGroup]="tagFrm">
              
              <div class="modal-header">
                <h4 class="modal-title">Add Tag</h4>
                <button  type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              </div>


              <div class="modal-body">
                <h3 style="color: blueviolet;" *ngIf="message">Đã thêm!</h3>
                <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">
                      Name:
                    </label>
                    <div class="col-10">
                      <input  class="form-control" 
                              type="text" 
                              formControlName="tag_name"
                              id="example-text-input" 
                             
                              [ngClass]="{
                                'is-valid': tagFrm.get('tag_name').valid,    
                                'is-invalid': tagFrm.get('tag_name').invalid
                                && tagFrm.get('tag_name').touched
                              }"
                        >
                    </div>
                  </div>
                  <div *ngIf="tagFrm.get('tag_name').invalid && tagFrm.get('tag_name').touched" class="alert alert-danger">
                    <ng-container *ngIf="tagFrm.get('tag_name').hasError('required')">
                        no name yet
                    </ng-container>
                    <ng-container *ngIf="tagFrm.get('tag_name').hasError('minlength')">
                     min length {{tagFrm.get('tag_name').getError('minlength').requiredLength}} kí tự
                    </ng-container>
                    <ng-container *ngIf="tagFrm.get('tag_name').hasError('maxlength')">
                     max length {{tagFrm.get('tag_name').getError('maxlength').requiredLength}} kí tự
                    </ng-container>
                  </div>
                
                  <div class="form-group row">
                      <label for="example-text-input" class="col-2 col-form-label">
                          Description:
                      </label>
                      <div class="col-10">
                        <textarea class="form-control" 
                        type="text" 
                        formControlName="description"
                          id="example-text-input"
                          [ngClass]="{
                            'is-valid': tagFrm.get('description').valid,
                            'is-invalid': tagFrm.get('description').invalid
                            && tagFrm.get('description').touched
                          }"
                          ></textarea>
                      </div>
                    </div>
                    <div *ngIf="tagFrm.get('description').invalid && tagFrm.get('description').touched" class="alert alert-danger">
                      <ng-container *ngIf="tagFrm.get('description').hasError('required')">
                        chưa có mô tả
                      </ng-container>
                      <ng-container *ngIf="tagFrm.get('description').hasError('minlength')">
                          min length {{tagFrm.get('description').getError('minlength').requiredLength}} 
                      </ng-container>
                      <ng-container *ngIf="tagFrm.get('description').hasError('maxlength')">
                          max length {{tagFrm.get('description').getError('maxlength').requiredLength}} 
                      </ng-container>
                    </div>

                    <div class="form-group row">
                        <label for="example-text-input" class="col-2 col-form-label">Status:</label>
                        <div class="col-10">
                          
                          <input   
                          type="checkbox" 
                          maxlength=11
                          required
                          formControlName="status"
                            id="example-text-input"
                            
                            >
                        </div>
                      </div>


              </div>

              <div class="modal-footer">
                
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <button  type="submit"  class="btn btn-success" value="Add" >ADD</button>

              </div>

            </form>
          </div>
        </div>
      </div> 

<!-- close tag -->

</section>

